body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5),
           rgba(0, 0, 0, 0.5)),
        url('../res/mandar-v1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

.nav-bar {
    position: absolute;
    padding-top: 10pt;
    padding-right: 5pt;
    padding-bottom: 10pt;
    padding-left: 5pt;
    right: 0;
}

.nav-elem {
    color:rgb(249, 241, 224);
    text-decoration: none;
    padding: 10pt;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#engine-text{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}